@model List<EcommerceProject.Models.Order>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>OrderNumber</th>
                    <th>OrderDate</th>
                    <th>Total price</th>
                    <th>UserEmail</th>
                    <th> </th>

                </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.OrderNumber</td>
                        <td>@item.OrderDate</td>
                        <td>@item.TotalPrice</td>
                        <td>@item.User.Email</td>
                        <td><button class="btn btn-primary" onclick="Details(@item.ID)">Details</button></td>
                        <td><button class="btn btn-danger" onclick="Delete(@item.ID)">Delete</button></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function Details(id) {
        $.ajax({
            url: "/order/orderdetails",
            method: "Get",
            data: {
                orderID: id
            }
        }).done(function (data) {
            $('#order-form').html(data);
            $('#form0 input').attr('disabled', true);
        }).fail(function (data) {
        });
    }

    function Delete(id) {
        $.ajax({
            url: "/order/Delete",
            method: "Post",
            data: {
                orderID: id
            }
        }).done(function (data) {
            var message = '<p class="alert alert-success">Deleted Successfully</p>';
            $('#alert').html(message);
            Add();
        }).fail(function (data) {
        });
    }

    function Add() {
        $.ajax({
            url: "/Admin/Order/Orders",
            method: "Get"
        }).done(function (data) {
            $('#order-table').html(data);
        }).fail(function (data) {
        });
    }
</script>
