@model EcommerceProject.VM.AboutUsVM
@{
    string formName = ViewBag.FormName;
}


@using (Ajax.BeginForm(formName,
   new AjaxOptions { OnSuccess = "onSuccess", OnFailure = "onFailure" }))
{
    <div class="form-group col-md-4 col-sm-4 col-xs-12">
        @Html.LabelFor(z => z.Vision, new { @class = "form-label" })
        @Html.TextAreaFor(z => z.Vision, new { @class = "form-control" })
        @Html.ValidationMessageFor(z => z.Vision)

        @Html.LabelFor(z => z.Mission, new { @class = "form-label" })
        @Html.TextAreaFor(z => z.Mission, new { @class = "form-control" })
        @Html.ValidationMessageFor(z => z.Mission)

        @Html.LabelFor(z => z.WhoAreWe, new { @class = "form-label" })
        @Html.TextAreaFor(z => z.WhoAreWe, new { @class = "form-control" })
        @Html.ValidationMessageFor(z => z.WhoAreWe)
    </div>

    if (formName == "PostEdit")
    {
        @Html.HiddenFor(z => z.ID)
        @Html.HiddenFor(z => z.CreationDate)
        @Html.HiddenFor(z => z.CreatedBy)

        <button class="btn btn-primary" type="submit">Edit</button>
    }
    else if (formName == "PostAdd")
    {
        <button class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-danger" type="reset">Clear</button>
    }

}

