<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("AMA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/Product">Product</a></li>
                    <li><a href="/admin/AboutUs">AboutUs</a></li>
                    <li><a href="/admin/Brand">Brand</a></li>
                    <li><a href="/admin/Category">Category</a></li>
                    <li><a href="/admin/Subcategory">Subcategory</a></li>
                    <li><a href="/admin/ContactMessage">Contact Message</a></li>
                    <li><a href="/admin/ContactUs">Contact Us</a></li>
                    <li><a href="/admin/Color">Color</a></li>
                    <li><a href="/admin/Order">Order</a></li>
                    <li><a href="/admin/UserAddress">UserAddress</a></li>
                    <li><a href="/admin/ProductColor">Product Color</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
