@model EcommerceProject.VM.UserAddressVM
@{
    string FormMethod = ViewBag.FormMethod;
}

<div>
    @using (Ajax.BeginForm(FormMethod, new AjaxOptions { OnSuccess = "onsuccess", OnFailure = "onfailure" }))
    {

        <div class="form-group ">
            <div >
                @Html.Label("User", new { @class="control-label"})
                @Html.TextBoxFor(z => z.UserFK, new { @class = "form-control" })
            </div>
            <div >
                @Html.Label("Phone", new { @class="control-label"})
                @Html.TextBoxFor(z => z.phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(z => z.phone)
            </div>
            
            <div >
                @Html.Label("Address", new { @class="control-label"})
                @Html.TextAreaFor(z => z.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(z => z.Address)
            </div>

        </div>

    }
</div>
