@model List<EcommerceProject.Models.ContactMesaage>
@if (TempData["Added"] != null)
{
    <p class="alert alert-danger">@TempData["Added"]</p>
}
@if (TempData["Edited"] != null)
{
    <p class="alert alert-danger">@TempData["Edited"]</p>
}
@if (TempData["Deleted"] != null)
{
    <p class="alert alert-danger">@TempData["Deleted"]</p>
}
@if (Model.Any())
{
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Created By</th>
                    <th>Creation Date</th>
                    <th>Updated By</th>
                    <th>Updated Date</th>
                    <th>IsAnswered</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Message</td>
                        <td>@item.User.Name</td>
                        <td>@item.CreationDate</td>
                        <td>@item.User.Name</td>
                        <td>@item.UpdatedDate</td>
                        <th><input type="checkbox" checked="@item.IsAnswer" /></th>
                        <td><button class="btn btn-success" onclick="IsAnswered(@item.ID)">IsAnswered</button></td>
                        <td><button class="btn btn-success" onclick="DetailsContactMessage(@item.ID)">Details</button></td>
                        <td><button class="btn btn-success" onclick="DeleteContactMessage(@item.ID)">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="alert alert-success">No Data</p>
}
<script>
    //Clear
    function Clear()
    {
        $('#form0')[0].reset();
    }
    //Edit get
    function IsAnswered(id)
    {
        $.ajax({
            url: '/Admin/ContactMessage/IsAnswered',
            type: 'Get',
            data: {
                id:id
            }
        }).done(function (data) {
            $('#AddContactMessage').html(data);
            $('#form0 #is').attr('disabled',true);
            $('#form0 #is').attr(Clear(),true);


        }).fail(function (data) {

        });
    }
    //Details
    function DetailsContactMessage(id)
    {
        $.ajax({
            url: '/Admin/ContactMessage/DetailsContactMessage',
            type: 'Get',
            data: {
                id: id
            }
        }).done(function (data) {
            $('#AddContactMessage').html(data);
            $('#form0 input').attr('disabled',true);
        }).fail(function (data) {

        });
    }
    //delete
    function DeleteContactMessage(id)
    {
        $.ajax({
            url: '/Admin/ContactMessage/DeleteContactMessage',
            type: 'Get',
            data: {
                id: id
            }
        }).done(function (data) {
            LoadData();

        }).fail(function (data) {
            $('.alert').html("error in Delete");

        });
    }
</script>







