@model EcommerceProject.VM.SubCategoryVM
@{
    var ss = new EcommerceProject.DAL.CategoryDAL().GetAll();
    string FormName = ViewBag.FormName;
}
<div class="col-md-12">
    @using (Ajax.BeginForm(FormName, new AjaxOptions { OnSuccess = "onsuccess", OnFailure = "OnFailure" }))
    {
        if (FormName == "EditSubCategory")
        {
            @Html.HiddenFor(z => z.ID)
            @Html.HiddenFor(z => z.CreatedBy)
            @Html.HiddenFor(z => z.CreationDate)
        }
        <div class="form-group col-md-4 col-xs-12">
            <label class="control-label">SubCategory Name</label>
            @Html.TextBoxFor(z => z.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(z => z.Name)
            <label>Category</label>
            @Html.DropDownListFor(z => z.CategoryFK, new SelectList(ss, "ID", "Name"), 
           "Choose Category", new { @class = "form-control" })
        </div>
        if (FormName == "EditSubCategory")
        {
            <button type="submit" class=" btn btn-primary">Edite</button>
        }
        else if (FormName == "PostSubCategory")
        {
            <button type="submit" class=" btn btn-primary">Save</button>
            <button type="reset" class=" btn btn-primary">Clear</button>
        }
    }

</div>

