@model EcommerceProject.VM.ColorVM
@{
    string formName = ViewBag.FormName;
 }
    <div>
        @using (Ajax.BeginForm(formName,
            new AjaxOptions { OnSuccess = "onSuccess", OnFailure = "onFailure" }))
        {
            <div>
                @Html.LabelFor(z => z.Name, new { @class = "control-label" })
                @Html.TextBoxFor(z => z.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(z => z.Name)
            </div>
            <div>
                @Html.LabelFor(z => z.Code, new { @class = "control-label" })
                <input type="color" name="Code" />
                @Html.ValidationMessageFor(z => z.Code)
            </div>
            if (formName == "PostEdit")
            {
                <button class="btn btn-success">Edit</button>
                @Html.HiddenFor(z => z.ID)
                @Html.HiddenFor(z => z.CreatedBy)
                @Html.HiddenFor(z => z.CreationDate)

            }
            else
            {
                <div>
                    <button type="submit" class="btn btn-success">Add Color</button>
                    <button type="reset" class="btn btn-danger">Clear</button>
                </div>
            }
        }
    </div>